//- index.pug
extends includes/layout.pug

block content
  .container
    section.content
      h1 Como usar
      p
        | Você pode usar o SASS tanto na syntax 
        b SCSS 
        | quanto 
        b SASS
        |. O que vai definir isso, é a extensão usada nos arquivos da pasta SASS.
      
      h2 Tarefas Disponíveis
      p
        | Por padrão algumas tarefas já vem pré-definidas em 
        em gulpfile.js
      p
        | Para ver todas as tarefas, você pode usar o comando
        em gulp help 
        | em seu terminal.
        
      h3 Links Úteis:
      ul
        li
          a(href='http://sass-lang.com/guide') Guia Oficial do SASS
        li
          a(href='http://sass-lang.com/documentation/file.SASS_REFERENCE.html') Link de Referência do SASS
        li
          a(href='https://pugjs.org/api/getting-started.html') Documentação Oficial do Pug
  
block footer
